@font-face {
  font-family: bambi;
  src: url(./font/X_BAMBI.TTF);
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  text-align: center;
  position: relative;
}

.mainImg img {
  height: 100vh;
  width: 100vw;
  display: block;
  object-fit: cover;
}

h1,
h2 {
  position: absolute;
  text-align: center;
  color: white;
  font-family: bambi;
}

h1 {
  font-size: 24px;
  top: 5%;
  width: 100vw;
}

h2 {
  font-size: 16px;
  top: 10%;
  width: 40vw;
  margin: 0px 30vw;
}

.thumbImg {
  position: absolute;
  bottom: 5%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.thumbImg img {
  height: 8vh;
  width: 4vw;
  margin: 0px 1vw;
}

.thumbImg img:focus {
  outline: 2px solid red;
}

.thumbImg img:hover {
  cursor: pointer;
}

/*Media Queries */
